<!doctype html>
<html ng-app='websiteBuilder'>
  <head>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="js/appController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-controller="websiteCtrl">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools" layout="row">
        <div flex> <h2> {{name}} - My Personal Website</h2> </div>
        <div ng-click="showBottomSheet($event)"> <img src="images/ic_contacts_white_36dp.png"> </div>
      </div>
    </md-toolbar>
    <br/>

    <md-content>
    <div layout="row" layout-sm="column">
      <div flex>
        <md-card>
        <div layout="row">
          <div>
            <img class="profile-image" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p50x50/1966841_10205564593336771_1131066954403916535_n.jpg?oh=c70118b5f51cab09234e8bbb5adca581&oe=556AE6EB&__gda__=1433157485_3b5b5073e8ccfa441a8ea367ec019018">
          </div>
          <div flex class="short-intro">
            <div class="name">{{name}} </div>
            <div class="short-bio"> {{bio}} </div> 
            <div class="short-details"> {{details}} </div>
          </div>
        </div>
        </md-card>
      </div>
    <!-- Quote content -->
    <div flex>
    <md-card>
    <center><q> {{quote}} </q> </center>
    </md-card>
    <!-- End of quote -->
    </div>
  </div>

    <div layout="row" layout-sm="column">
    <!-- Education tab -->
    <div flex class="education-tabs">
    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Higher Education
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Schooling
      </md-tab>
      <md-tab id="tab3" aria-controls="tab3-content">
        Certification
      </md-tab>
    </md-tabs>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
            <md-card>
			  <center> 
				  <b> Management in Technology Management </b> <br/>
				  Persuing <br/>
				  DMS, IIT-Delhi
			  </center>
			</md-card>
			<md-card>
			  <center> 
				  <b> B.Tech (CSE) </b> <br/>
				  2012 Batch <br/>
				  BVCOE (GGSIPU)
			  </center>
			</md-card>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
            <md-card>
			  <center> 
				  <b> Senior Secondary </b> <br/>
				  2008 <br/>
				  SDAV (CBSE)
			  </center>
			</md-card>
			<md-card>
			  <center> 
				  <b> Secondary </b> <br/>
				  2006 <br/>
				  SDAV (CBSE)
			  </center>
			</md-card>
        </div>
        <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
            <md-card>
			  <center> 
				  <b> Certification in Enterprise Management </b> <br/>
				  2011 <br/>
				  DMS, IIT-Delhi
			  </center>
			</md-card>
        </div>
    </ng-switch>
    </div>
    <!-- End of Education tab -->

    <!-- Professional tab -->
    <div flex class="professional-tabs">
    <md-tabs class="md-accent" md-selected="profdata.selectedIndex">
      <md-tab id="prof-tab1" aria-controls="prof-tab1-content">
        Career
      </md-tab>
      <md-tab id="prof-tab2" aria-controls="prof-tab2-content">
        Experience
      </md-tab>
    </md-tabs>
    <ng-switch on="profdata.selectedIndex" class="tabpanel-container">
      <div role="tabpanel" id="prof-tab1-content" aria-labelledby="prof-tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
      <md-card>
			  <center> 
				  <b> Specialist - Tools Development </b> <br/>
				  Google India (via Binary Semantics) <br/>
			    August, 2012 to Present
			  </center>
			</md-card>
        </div>
        <div role="tabpanel" id="prof-tab2-content" aria-labelledby="prof-tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
        <md-card>
			  <center> 
				  <b> AngularJs </b> <br/>
				  1+ year <br/>
				  3 Projects
			  </center>
			</md-card>
			<md-card>
			  <center> 
				  <b> PolymerJS </b> <br/>
				  3+ months <br/>
				  3 projects
			  </center>
			</md-card>
        </div>
    </ng-switch>
    </div>
    <!-- End of prof tab -->
  </div>

    <md-card> 
    <div layout="row"> 
      <div flex ng-repeat="skill in skills">
        <md-progress-circular md-mode="determinate" value="{{skill.counter}}"></md-progress-circular>
        <br/>
        <span> {{skill.name}}</span>
      </div>
    </div>
    </md-card>

    </md-content>
  </body>
</html>
